{% extends "base.html" %}
{% block content %}
<h2>Education</h2>
<div class="education-section">
    <ul>
        <li>
            <span class="school">Duke University</span> - <span class="degree">Master of Engineering in Artificial Intelligence</span>
            <span class="date">Current</span>
        </li>
        <li>
            <span class="school">Wake Forest University</span> - <span class="degree">Master of Biomedical Sciences (Cancer Biology Concentration)</span>
            <span class="date">May 2020</span>
        </li>
        <li>
            <span class="school">Soochow University</span> - <span class="degree">Bachelor of Biological Science</span>
            <span class="date">June 2017</span>
        </li>
        <li>
            <span class="school">Harvard University Division of Continuing Education</span> - <span class="degree">Professional Graduate-level Certificate in Programming</span>
            <span class="date">May 2023</span>
        </li>
    </ul>
</div>
{% endblock %}
