{% extends "base.html" %}
{% block content %}
<h2>Publications & Posters</h2>
<ul>
    <li>
        Chan, A., Zhang, K., Martin, G., Bano, S., Chatterjee, J., Mahto, S., Wang, A., Gutmann, D. H., & Brossier, N. M. (2024). 
        <em>Maternal obesogenic diet operates at the tumor cell of origin to increase incidence and decrease latency of Neurofibromatosis Type 1 optic pathway glioma</em>. 
        Neuro-Oncology. Advance online publication. 
        <a href="https://doi.org/10.1093/neuonc/noae136" target="_blank">https://doi.org/10.1093/neuonc/noae136</a> PMID: 39023130.
    </li>
    <li>
        Chan, A., Zhang, K., Martin, G., Gutmann, D., & Brossier, N. (2023). 
        <em>BIOL-16. Obesogenic diet exposure increases NF1-optic pathway glioma formation in part through effects on the cell of origin</em>. 
        Neuro-Oncology, 25(Suppl 1), i9. 
        <a href="https://doi.org/10.1093/neuonc/noad073.035" target="_blank">https://doi.org/10.1093/neuonc/noad073.035</a>
    </li>
    <li>
        Zhang, K., Gutmann, D., & Brossier, N. (2022). 
        <em>NFB-02. Maternal high-fat diet exposure increases the proliferation and glial differentiation of the cells of origin for NF1-optic glioma</em>. 
        Neuro-Oncology, 24(Suppl 1), i128. 
        <a href="https://doi.org/10.1093/neuonc/noac079.466" target="_blank">https://doi.org/10.1093/neuonc/noac079.466</a>
    </li>
    <li>
        Kim, T. E., Puckett, S., Zhang, K., Herpai, D. M., Ornelles, D. A., Davis, J. N., van den Pol, A. N., Debinski, W., & Lyles, D. S. (2021). 
        <em>Diversity in responses to oncolytic Lassa-vesicular stomatitis virus in patient-derived glioblastoma cells</em>. 
        Molecular Therapy Oncolytics, 22, 232–244. 
        <a href="https://doi.org/10.1016/j.omto.2021.06.003" target="_blank">https://doi.org/10.1016/j.omto.2021.06.003</a>
    </li>
    <li>
        Zhang, K. (2020). 
        <em>Susceptibility of glioblastoma cells to oncolytic vesicular stomatitis virus</em> (Master’s dissertation, Wake Forest University).
    </li>
    <li>
        Xing, R., Li, K. L., Zhou, Y. F., Su, Y. Y., Yan, S. Q., Zhang, K. L., Wu, S. C., Sima, Y. H., Zhang, K. Q., He, Y., & Xu, S. Q. (2016). 
        <em>Impact of fluorescent silicon nanoparticles on circulating hemolymph and hematopoiesis in an invertebrate model organism</em>. 
        Chemosphere, 159, 628–637. 
        <a href="https://doi.org/10.1016/j.chemosphere.2016.06.057" target="_blank">https://doi.org/10.1016/j.chemosphere.2016.06.057</a>
    </li>
</ul>
{% endblock %}
