{% extends "base.html" %}
{% block content %}
<h2>Skills</h2>
<ul>
    <li><strong>Programming Languages:</strong> Python, Java, SQL</li>
    <li><strong>Data Analysis:</strong> NumPy, Pandas, data cleaning and preparation</li>
    <li><strong>Database Management:</strong> Epic Maestro Care, DEDUCE, RedCap</li>
    <li><strong>Image Analysis Tools:</strong> Adobe Photoshop, Imaris, ImageJ</li>
    <li><strong>Molecular Biology Techniques:</strong> PCR, Western Blot, Immunohistochemistry</li>
    <li><strong>Languages:</strong> English (Fluent), Mandarin (Native)</li>
</ul>
{% endblock %}
